@using DataModelLibrary.Models

<MudTable T="Book" SortLabel="Sort by" 
          @ref="_table"
          ServerData="ServerData"
          Dense="false" 
          Hover="true" 
          Loading="@IsLoading"
          LoadingProgressColor="Color.Info" 
          Elevation="0"
          OnRowClick="OnRowClick" 
          RowClass="cursor-pointer">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Books</MudText>
        <MudSpacer />
        <MudTextField Value="_searchString"
                      ValueChanged="@(EventCallback.Factory.Create<string>(this, OnSearchInternal))"
                      Placeholder="Search"
                      Immediate="true"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mt-0" />
    </ToolBarContent>

    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Title" SortBy="new Func<Book, object>(x => nameof(x.Title))">Title</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Author" SortBy="new Func<Book, object>(x => x.Author)">Author</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="IsAvailable" SortBy="new Func<Book, object>(x => x.IsAvailable)">Availability</MudTableSortLabel></MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Author">@context.Author</MudTd>
        <MudTd DataLabel="Availability">
            <MudText Color="@((bool)context.IsAvailable ? Color.Success : Color.Error)">
                @((bool)context.IsAvailable ? "Available" : "Not Available")
            </MudText>
        </MudTd>
        <MudTd>
            <div class="d-flex">
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Primary"
                               Size="Size.Small"
                               OnClick="@((e) => EditBook(context))"
                               Class="rounded-circle mr-2" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Error"
                               Size="Size.Small"
                               OnClick="@((e) => DeleteBook(context))"
                               Class="rounded-circle" />
            </div>
        </MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager PageSizeOptions="PageSizeOptions" />
    </PagerContent>

    <NoRecordsContent>
        <MudText>No books found.</MudText>
    </NoRecordsContent>
</MudTable>

@code {
    [Parameter, EditorRequired]
    public Func<TableState, CancellationToken, Task<TableData<Book>>> ServerData { get; set; } = default!;

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public EventCallback<string> OnSearchChanged { get; set; }

    [Parameter]
    public EventCallback<TableRowClickEventArgs<Book>> OnRowClick { get; set; }

    [Parameter]
    public EventCallback<Book> OnDeleteBook { get; set; }

    [Parameter]
    public EventCallback<Book> OnEditBook { get; set; }

    private MudTable<Book>? _table;

    private string _searchString = "";

    private readonly int[] PageSizeOptions = new[] { 5, 10, 20, 50 };

    private async Task DeleteBook(Book book)
    {
        await OnDeleteBook.InvokeAsync(book);
    }

    private async Task EditBook(Book book)
    {
        await OnEditBook.InvokeAsync(book);
    }

    private async Task OnSearchInternal(string value)
    {
        _searchString = value;

        if (OnSearchChanged.HasDelegate)
            await OnSearchChanged.InvokeAsync(value);
    }
}